@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button, input {
  background: none;
  border: none;
}

.section-1 {
  width: 100%;
  height: 70vh;
  background-image: url(../../img/page2bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-1 header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  margin: 0 auto;
}
.section-1 header .header_left {
  display: flex;
  justify-content: space-between;
  width: 650px;
  align-items: center;
}
.section-1 header .header_left .logo_header {
  align-items: center;
}
.section-1 header .header_left .nav_header {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.section-1 header .header_left .nav_header .red {
  color: #FF5A30;
}
.section-1 header .header_left .nav_header a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.section-1 header .header_right {
  display: flex;
  justify-content: space-between;
  width: 410px;
}
.section-1 header .header_right .phone_icon {
  display: flex;
  justify-content: space-between;
  width: 190px;
  align-items: center;
}
.section-1 header .header_right .phone_icon a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1E212C;
}
.section-1 header .header_right .chat_icon {
  width: 215px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-1 header .header_right .chat_icon a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1E212C;
}
.section-1 .page2_content {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.section-1 .page2_content .links {
  display: flex;
  justify-content: space-between;
  width: 150px;
  align-items: end;
}
.section-1 .page2_content .links a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.section-1 .page2_content .links a:nth-child(2) {
  color: #9A9CA5;
}
.section-1 .page2_content h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #1E212C;
  font-size: 72px;
  line-height: 130%;
  margin-top: 50px;
}
.section-1 .page2_content p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  font-size: 20px;
  line-height: 150%;
  margin-top: 30px;
}

.section-2 {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.section-2 .block-1 {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 120px;
  transition-duration: 0.3s;
}
.section-2 .block-1:hover {
  transform: scale(1.1);
}
.section-2 .block-1 .left_block {
  width: 48%;
}
.section-2 .block-1 .right_block {
  width: 48%;
  margin-top: 100px;
}
.section-2 .block-1 .right_block h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #1E212C;
}
.section-2 .block-1 .right_block p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  margin-top: 25px;
}
.section-2 .block-1 .button-1 {
  width: 160px;
  height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #FF5A30;
  padding-left: 34px;
  margin-top: 50px;
}
.section-2 .block-1 .button-1 button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FF5A30;
}

.section-3 {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.section-3 .block-2 {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 120px;
  transition-duration: 0.3s;
}
.section-3 .block-2:hover {
  transform: scale(1.1);
}
.section-3 .block-2 .left_block_2 {
  width: 48%;
  margin-top: 100px;
}
.section-3 .block-2 .left_block_2 h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #1E212C;
}
.section-3 .block-2 .left_block_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  margin-top: 25px;
}
.section-3 .block-2 .button-2 {
  width: 160px;
  height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #FF5A30;
  padding-left: 34px;
  margin-top: 50px;
}
.section-3 .block-2 .button-2 button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FF5A30;
}
.section-3 .block-2 .right_block_2 {
  width: 48%;
}

.section-4 {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.section-4 .block-3 {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 120px;
  transition-duration: 0.3s;
}
.section-4 .block-3:hover {
  transform: scale(1.1);
}
.section-4 .block-3 .left_block_3 {
  width: 48%;
}
.section-4 .block-3 .right_block_3 {
  width: 48%;
  margin-top: 100px;
}
.section-4 .block-3 .right_block_3 h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #1E212C;
}
.section-4 .block-3 .right_block_3 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  margin-top: 25px;
}
.section-4 .block-3 .button-3 {
  width: 160px;
  height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #FF5A30;
  padding-left: 34px;
  margin-top: 50px;
}
.section-4 .block-3 .button-3 button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FF5A30;
}

.section-5 {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.section-5 .block-4 {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 120px;
  transition-duration: 0.3s;
}
.section-5 .block-4:hover {
  transform: scale(1.1);
}
.section-5 .block-4 .left_block_4 {
  width: 48%;
  margin-top: 100px;
}
.section-5 .block-4 .left_block_4 h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #1E212C;
}
.section-5 .block-4 .left_block_4 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  margin-top: 25px;
}
.section-5 .block-4 .button-4 {
  width: 160px;
  height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #FF5A30;
  padding-left: 34px;
  margin-top: 50px;
}
.section-5 .block-4 .button-4 button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FF5A30;
}
.section-5 .block-4 .right_block_4 {
  width: 48%;
}

.section-6 {
  width: 100%;
  height: 100vh;
  background-image: url(../../img/bg-2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 180px;
}
.section-6 .discuss_block {
  position: absolute;
  right: 400px;
  margin-top: 200px;
  background: #FFF;
  width: 600px;
  height: 700px;
}
.section-6 .discuss_block h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.section-6 .discuss_block .name_2 {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-6 .discuss_block .name_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-bottom: 10px;
}
.section-6 .discuss_block .name_2 input {
  width: 500px;
  background: #F4F5F7;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #D7DADD;
}
.section-6 .discuss_block .phone_2 {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-6 .discuss_block .phone_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-bottom: 10px;
}
.section-6 .discuss_block .phone_2 input {
  width: 500px;
  background: #F4F5F7;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #D7DADD;
}
.section-6 .discuss_block .email_2 {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-6 .discuss_block .email_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-bottom: 10px;
}
.section-6 .discuss_block .email_2 input {
  width: 500px;
  background: #F4F5F7;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #D7DADD;
}
.section-6 .discuss_block .message_2 {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-6 .discuss_block .message_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-bottom: 10px;
}
.section-6 .discuss_block .message_2 input {
  width: 500px;
  background: #F4F5F7;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #D7DADD;
}
.section-6 .discuss_block .request {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: #FF5A30;
  border-radius: 4px;
  margin-top: 50px;
  text-transform: uppercase;
}
.section-6 .discuss_block .request button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

footer {
  background: #1E212C;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
footer .footer_content {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  padding-top: 80px;
}
footer .footer_content .footer_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footer_content .footer_top .left_top {
  width: 50%;
}
footer .footer_content .footer_top .left_top .logo {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
footer .footer_content .footer_top .left_top .footer_discription {
  margin-top: 30px;
  width: 550px;
}
footer .footer_content .footer_top .left_top .footer_discription p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  color: white;
}
footer .footer_content .footer_top .right_top {
  width: 50%;
}
footer .footer_content .footer_top .right_top h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
  font-size: 24px;
  color: white;
  text-align: left;
}
footer .footer_content .footer_top .right_top form {
  margin-top: 20px;
}
footer .footer_content .footer_top .right_top form input:nth-child(1) {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  height: 44px;
  width: 300px;
}
footer .footer_content .footer_top .right_top form input:nth-child(2) {
  width: 131px;
  height: 44px;
  background: #FF5A30;
  border-radius: 0px 4px 4px 0px;
}
footer .footer_content .footer_top .right_top p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  font-size: 12px;
  color: white;
  opacity: 0.6;
  margin-top: 15px;
}
footer .footer_content .footer_middle {
  display: flex;
  justify-content: space-between;
  height: 160px;
  width: 70%;
  margin-top: 80px;
}
footer .footer_content .footer_middle .office {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
footer .footer_content .footer_middle .office h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  line-height: 150%;
  color: #fff;
}
footer .footer_content .footer_middle .office p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
  text-align: left;
  color: #fff;
  margin-top: 20px;
}
footer .footer_content .footer_middle .office p span {
  opacity: 0.3;
}
footer .footer_content .footer_middle .we {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer_content .footer_middle .we h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  line-height: 150%;
  color: #fff;
  text-align: left;
}
footer .footer_content .footer_middle .we a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
  color: white;
  text-align: left;
}
footer .footer_content .footer_middle .our {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer_content .footer_middle .our h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  line-height: 150%;
  color: #fff;
  text-align: left;
}
footer .footer_content .footer_middle .our a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
  color: white;
  text-align: left;
}
footer .footer_content .footer_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  width: 83%;
  align-items: center;
}
footer .footer_content .footer_bottom .heart p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  font-size: 12px;
  color: #fff;
}
footer .footer_content .footer_bottom .go_to_top {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
footer .footer_content .footer_bottom .go_to_top p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  color: #fff;
  align-items: end;
}
footer .footer_content .footer_bottom .go_to_top a {
  width: 40px;
  height: 40px;
  align-items: center;
  text-align: center;
  background-color: #FF5A30;
  border-radius: 4px;
}
footer .footer_content .footer_bottom .go_to_top a img {
  padding-top: 14px;
}

/*# sourceMappingURL=page2.css.map */
