@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button, input {
  background: none;
  border: none;
}

.section-1 {
  width: 100%;
  height: 70vh;
  background-image: url(../../img/page3bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-1 header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  margin: 0 auto;
}
.section-1 header .header_left {
  display: flex;
  justify-content: space-between;
  width: 650px;
  align-items: center;
}
.section-1 header .header_left .logo_header {
  align-items: center;
}
.section-1 header .header_left .nav_header {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.section-1 header .header_left .nav_header .red {
  color: #FF5A30;
}
.section-1 header .header_left .nav_header a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.section-1 header .header_right {
  display: flex;
  justify-content: space-between;
  width: 410px;
}
.section-1 header .header_right .phone_icon {
  display: flex;
  justify-content: space-between;
  width: 190px;
  align-items: center;
}
.section-1 header .header_right .phone_icon a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  display: flex;
  align-items: center;
}
.section-1 header .header_right .chat_icon {
  width: 215px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-1 header .header_right .chat_icon a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  display: flex;
  align-items: center;
}
.section-1 .page3_content {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.section-1 .page3_content .links {
  display: flex;
  justify-content: space-between;
  width: 250px;
  align-items: end;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.section-1 .page3_content .links:nth-child(3) {
  color: #9A9CA5;
}
.section-1 .page3_content h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #1E212C;
  font-size: 72px;
  line-height: 130%;
  margin-top: 50px;
}
.section-1 .page3_content p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  font-size: 20px;
  line-height: 150%;
  margin-top: 30px;
}

.section-2 {
  width: 100%;
  height: 100vh;
}
.section-2 .top_1 {
  width: 70%;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
}
.section-2 .top_1 .top_1_left {
  border: solid;
}
.section-2 .top_1 .top_1_right {
  border: solid;
  width: 45%;
}
.section-2 .bottom_1 {
  width: 70%;
  margin: 150px auto;
}
.section-2 .bottom_1 h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #D7DADD;
  color: #1E212C;
}
.section-2 .bottom_1 .bottom_content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.section-2 .bottom_1 .bottom_content .work {
  width: 23%;
}
.section-2 .bottom_1 .bottom_content .work h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #D7DADD;
}
.section-2 .bottom_1 .bottom_content .work h4 span {
  transition-duration: 0.3s;
}
.section-2 .bottom_1 .bottom_content .work h4:hover span {
  color: #FF5A30;
}
.section-2 .bottom_1 .bottom_content .work h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #1E212C;
  margin-top: 15px;
  font-size: 20px;
}
.section-2 .bottom_1 .bottom_content .work p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  margin-top: 15px;
}
.section-2 .bottom_1 .bottom_content .contract {
  width: 23%;
}
.section-2 .bottom_1 .bottom_content .contract h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #D7DADD;
}
.section-2 .bottom_1 .bottom_content .contract h4 span {
  transition-duration: 0.3s;
}
.section-2 .bottom_1 .bottom_content .contract h4:hover span {
  color: #FF5A30;
}
.section-2 .bottom_1 .bottom_content .contract h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #1E212C;
  margin-top: 15px;
  font-size: 20px;
}
.section-2 .bottom_1 .bottom_content .contract p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  margin-top: 15px;
}
.section-2 .bottom_1 .bottom_content .mobilization {
  width: 23%;
  transition-duration: 1.9s;
}
.section-2 .bottom_1 .bottom_content .mobilization h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #D7DADD;
}
.section-2 .bottom_1 .bottom_content .mobilization h4 span {
  transition-duration: 0.3s;
}
.section-2 .bottom_1 .bottom_content .mobilization h4:hover span {
  color: #FF5A30;
}
.section-2 .bottom_1 .bottom_content .mobilization h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #1E212C;
  margin-top: 15px;
  font-size: 20px;
}
.section-2 .bottom_1 .bottom_content .mobilization p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  margin-top: 15px;
}
.section-2 .bottom_1 .bottom_content .construction {
  width: 23%;
}
.section-2 .bottom_1 .bottom_content .construction h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #D7DADD;
  transition-duration: 0.3s;
}
.section-2 .bottom_1 .bottom_content .construction h4:hover {
  color: #FF5A30;
}
.section-2 .bottom_1 .bottom_content .construction h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: #1E212C;
  margin-top: 15px;
  font-size: 20px;
}
.section-2 .bottom_1 .bottom_content .construction p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  margin-top: 15px;
}

.section-3 {
  width: 100%;
  height: 55vh;
  background: #1e212c;
  margin-top: 30px;
}
.section-3 .top_cont_3 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}
.section-3 .top_cont_3 h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #D7DADD;
  text-align: center;
  justify-content: center;
}
.section-3 .top_cont_3 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.section-3 .block_cont {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 75px auto;
}
.section-3 .block_cont .block_cont_1 {
  text-align: center;
  width: 32%;
  border-right: 1px solid #DADBDD;
}
.section-3 .block_cont .block_cont_1 h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}
.section-3 .block_cont .block_cont_1 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  color: #fff;
  opacity: 0.6;
}
.section-3 .block_cont .block_cont_2 {
  width: 32%;
  text-align: center;
}
.section-3 .block_cont .block_cont_2 h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}
.section-3 .block_cont .block_cont_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  color: #fff;
  opacity: 0.6;
}
.section-3 .block_cont .block_cont_3 {
  width: 32%;
  border-left: 1px solid #DADBDD;
  text-align: center;
}
.section-3 .block_cont .block_cont_3 h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}
.section-3 .block_cont .block_cont_3 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  color: #fff;
  opacity: 0.6;
}
.section-3 .button_3 {
  width: 390px;
  height: 52px;
  background-color: #FF5A30;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 93px;
  text-align: center;
}
.section-3 .button_3 button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-4 {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}
.section-4 .top_cont_4 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.section-4 .top_cont_4 .title_4 h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #D7DADD;
  color: #1E212C;
}
.section-4 .top_cont_4 .arrows_4 {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 50px;
}
.section-4 .middle_cont_4 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
}
.section-4 .middle_cont_4 .kids {
  width: 25.7%;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}
.section-4 .middle_cont_4 .kids h3 {
  text-align: center;
  margin-top: 15px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  color: #1E212C;
}
.section-4 .middle_cont_4 .kids p {
  margin-top: 15px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
  text-align: center;
}
.section-4 .middle_cont_4 .kids .button_4 {
  width: 144px;
  height: 44px;
  margin: 10px auto;
  border: 1px solid #FF5A30;
  border-radius: 4px;
}
.section-4 .middle_cont_4 .kids .button_4 button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FF5A30;
  padding-left: 17px;
}
.section-4 .middle_cont_4 .double {
  width: 25.7%;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}
.section-4 .middle_cont_4 .double h3 {
  text-align: center;
  margin-top: 15px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  color: #1E212C;
}
.section-4 .middle_cont_4 .double p {
  text-align: center;
  margin-top: 15px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
}
.section-4 .middle_cont_4 .double .button_4 {
  width: 144px;
  height: 44px;
  margin: 10px auto;
  border: 1px solid #FF5A30;
  border-radius: 4px;
}
.section-4 .middle_cont_4 .double .button_4 button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FF5A30;
  padding-left: 17px;
}
.section-4 .middle_cont_4 .scandinavian {
  width: 25.7%;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}
.section-4 .middle_cont_4 .scandinavian h3 {
  text-align: center;
  margin-top: 15px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  color: #1E212C;
}
.section-4 .middle_cont_4 .scandinavian p {
  text-align: center;
  margin-top: 15px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
}
.section-4 .middle_cont_4 .scandinavian .button_4 {
  width: 144px;
  height: 44px;
  margin: 10px auto;
  border: 1px solid #FF5A30;
  border-radius: 4px;
}
.section-4 .middle_cont_4 .scandinavian .button_4 button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FF5A30;
  padding-left: 17px;
}
.section-4 .bottom_cont_4 {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}
.section-4 .bottom_cont_4 .portfolio_left {
  width: 425px;
  height: 60px;
  display: flex;
  align-items: center;
}
.section-4 .bottom_cont_4 .portfolio_left p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1E212C;
}
.section-4 .bottom_cont_4 .portfolio_right {
  width: 230px;
  align-items: center;
  text-align: center;
}
.section-4 .bottom_cont_4 .portfolio_right button {
  width: 222px;
  height: 60px;
  background-color: #FF5A30;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
}

.section-5 {
  width: 100%;
  height: 100vh;
  background-image: url(../../img/bg.png);
  background-position: left;
  background-repeat: no-repeat;
  border: solid;
}
.section-5 h2 {
  width: 400px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #D7DADD;
  color: #1E212C;
}
.section-5 p {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  color: #787A80;
}
.section-5 table {
  width: 70%;
  margin: 0 auto;
}
.section-5 table .block1 {
  border: solid;
}
.section-5 table .block2 {
  border: solid;
}

/*# sourceMappingURL=page3.css.map */
