@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button, input {
  background: none;
  border: none;
}

.section-1 {
  width: 100%;
  height: 70vh;
  background-image: url(../../img/page4bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-1 header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  margin: 0 auto;
}
.section-1 header .header_left {
  display: flex;
  justify-content: space-between;
  width: 650px;
  align-items: center;
}
.section-1 header .header_left .logo_header {
  align-items: center;
}
.section-1 header .header_left .nav_header {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.section-1 header .header_left .nav_header .red {
  color: #FF5A30;
}
.section-1 header .header_left .nav_header a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.section-1 header .header_right {
  display: flex;
  justify-content: space-between;
  width: 410px;
}
.section-1 header .header_right .phone_icon {
  display: flex;
  justify-content: space-between;
  width: 190px;
  align-items: center;
}
.section-1 header .header_right .phone_icon a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  display: flex;
  align-items: center;
}
.section-1 header .header_right .chat_icon {
  width: 215px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-1 header .header_right .chat_icon a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  display: flex;
  align-items: center;
}
.section-1 .block1 {
  width: 31%;
  margin-left: 190px;
  margin-top: 60px;
}
.section-1 .block1 .links {
  width: 130px;
}
.section-1 .block1 .links a:nth-child(1) {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
}
.section-1 .block1 .links a:nth-child(2) {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  color: #9A9CA5;
  font-size: 14px;
}
.section-1 .block1 h2 {
  margin-top: 50px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  font-size: 72px;
  line-height: 130%;
  color: #1E212C;
}
.section-1 .block1 p {
  margin-top: 50px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 20px;
  color: #787A80;
}
.section-1 .blocks {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.section-1 .blocks .all {
  width: 230px;
  height: 160px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  align-items: center;
  text-align: center;
  padding-top: 45px;
  background-color: #fff;
}
.section-1 .blocks .all:hover {
  background-color: #FF5A30;
}
.section-1 .blocks .all:hover .none {
  display: none;
}
.section-1 .blocks .all:hover .inline {
  display: inline;
}
.section-1 .blocks .all:hover h5 {
  color: #fff;
  margin-top: 10px;
}
.section-1 .blocks .all .none {
  padding-left: 55px;
}
.section-1 .blocks .all h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-top: 10px;
  color: #9A9CA5;
}
.section-1 .blocks .construction {
  width: 230px;
  height: 160px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  align-items: center;
  text-align: center;
  padding-top: 45px;
  background-color: #fff;
}
.section-1 .blocks .construction:hover {
  background-color: #FF5A30;
}
.section-1 .blocks .construction:hover .none {
  display: none;
}
.section-1 .blocks .construction:hover .inline {
  display: inline;
}
.section-1 .blocks .construction:hover h5 {
  color: #fff;
  margin-top: 10px;
}
.section-1 .blocks .construction .none {
  padding-left: 55px;
}
.section-1 .blocks .construction h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-top: 10px;
  color: #9A9CA5;
}
.section-1 .blocks .project {
  width: 230px;
  height: 160px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  align-items: center;
  text-align: center;
  padding-top: 45px;
  background-color: #fff;
}
.section-1 .blocks .project:hover {
  background-color: #FF5A30;
}
.section-1 .blocks .project:hover .none {
  display: none;
}
.section-1 .blocks .project:hover .inline {
  display: inline;
}
.section-1 .blocks .project:hover h5 {
  color: #fff;
  margin-top: 10px;
}
.section-1 .blocks .project .none {
  padding-left: 55px;
}
.section-1 .blocks .project h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-top: 10px;
  color: #9A9CA5;
}
.section-1 .blocks .design {
  width: 230px;
  height: 160px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  align-items: center;
  text-align: center;
  padding-top: 45px;
  background-color: #fff;
}
.section-1 .blocks .design:hover {
  background-color: #FF5A30;
}
.section-1 .blocks .design:hover .none {
  display: none;
}
.section-1 .blocks .design:hover .inline {
  display: inline;
}
.section-1 .blocks .design:hover h5 {
  color: #fff;
  margin-top: 10px;
}
.section-1 .blocks .design .none {
  padding-left: 55px;
}
.section-1 .blocks .design h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-top: 10px;
  color: #9A9CA5;
}
.section-1 .blocks .repairs {
  width: 230px;
  height: 160px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  align-items: center;
  text-align: center;
  padding-top: 45px;
  background-color: #fff;
}
.section-1 .blocks .repairs:hover {
  background-color: #FF5A30;
}
.section-1 .blocks .repairs:hover .none {
  display: none;
}
.section-1 .blocks .repairs:hover .inline {
  display: inline;
}
.section-1 .blocks .repairs:hover h5 {
  color: #fff;
  margin-top: 10px;
}
.section-1 .blocks .repairs .none {
  padding-left: 55px;
}
.section-1 .blocks .repairs h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-top: 10px;
  color: #9A9CA5;
}

.section-2 {
  width: 65%;
  margin: 0 auto;
  margin-top: 300px;
  height: 150vh;
}
.section-2 .top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.section-2 .top .img1 {
  background: #FFFFFF;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  transition-duration: 0.3s;
}
.section-2 .top .img1:hover {
  transform: scale(0.9);
}
.section-2 .top .img1:hover .view {
  display: inline;
}
.section-2 .top .img1 h4 {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  color: #1E212C;
}
.section-2 .top .img1 p {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
  color: #787A80;
  margin-bottom: 10px;
}
.section-2 .top .img1 .view {
  width: 150px;
  height: 50px;
  border: 1px solid #FF5A30;
  border-radius: 4px;
  margin: 0 auto;
  display: none;
}
.section-2 .top .img1 .view button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  color: #FF5A30;
}
.section-2 .top .img2 {
  background: #FFFFFF;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  transition-duration: 0.3s;
}
.section-2 .top .img2 h4 {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  color: #1E212C;
}
.section-2 .top .img2:hover {
  transform: scale(0.9);
}
.section-2 .top .img2:hover .view {
  display: inline;
}
.section-2 .top .img2 p {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
  color: #787A80;
  margin-bottom: 30px;
}
.section-2 .top .img2 .view {
  width: 150px;
  height: 50px;
  border: 1px solid #FF5A30;
  border-radius: 4px;
  margin: 0 auto;
  display: none;
}
.section-2 .top .img2 .view button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  color: #FF5A30;
}
.section-2 .top .img3 {
  background: #FFFFFF;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  transition-duration: 0.3s;
}
.section-2 .top .img3:hover {
  transform: scale(0.9);
}
.section-2 .top .img3:hover .view {
  display: inline;
}
.section-2 .top .img3 h4 {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  color: #1E212C;
}
.section-2 .top .img3 p {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
  color: #787A80;
  margin-bottom: 30px;
}
.section-2 .top .img3 .view {
  width: 150px;
  height: 50px;
  border: 1px solid #FF5A30;
  border-radius: 4px;
  margin: 0 auto;
  display: none;
}
.section-2 .top .img3 .view button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  color: #FF5A30;
}
.section-2 .middle {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-top: 50px;
}
.section-2 .middle .img4 {
  background: #FFFFFF;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  transition-duration: 0.3s;
}
.section-2 .middle .img4:hover {
  transform: scale(0.9);
}
.section-2 .middle .img4:hover .view {
  display: inline;
}
.section-2 .middle .img4 h4 {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  color: #1E212C;
}
.section-2 .middle .img4 p {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
  color: #787A80;
  margin-bottom: 30px;
}
.section-2 .middle .img4 .view {
  width: 150px;
  height: 50px;
  border: 1px solid #FF5A30;
  border-radius: 4px;
  margin: 0 auto;
  display: none;
}
.section-2 .middle .img4 .view button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  color: #FF5A30;
}
.section-2 .middle .img5 {
  background: #FFFFFF;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  transition-duration: 0.3s;
}
.section-2 .middle .img5:hover {
  transform: scale(0.9);
}
.section-2 .middle .img5:hover .view {
  display: inline;
}
.section-2 .middle .img5 h4 {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  color: #1E212C;
}
.section-2 .middle .img5 p {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
  color: #787A80;
  margin-bottom: 30px;
}
.section-2 .middle .img5 .view {
  width: 150px;
  height: 50px;
  border: 1px solid #FF5A30;
  border-radius: 4px;
  margin: 0 auto;
  display: none;
}
.section-2 .middle .img5 .view button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  color: #FF5A30;
}
.section-2 .middle .img6 {
  background: #FFFFFF;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  transition-duration: 0.3s;
}
.section-2 .middle .img6:hover {
  transform: scale(0.9);
}
.section-2 .middle .img6:hover .view {
  display: inline;
}
.section-2 .middle .img6 h4 {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  color: #1E212C;
}
.section-2 .middle .img6 p {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
  color: #787A80;
  margin-bottom: 30px;
}
.section-2 .middle .img6 .view {
  width: 150px;
  height: 50px;
  border: 1px solid #FF5A30;
  border-radius: 4px;
  margin: 0 auto;
  display: none;
}
.section-2 .middle .img6 .view button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  color: #FF5A30;
}
.section-2 .bottom_1 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-top: 50px;
}
.section-2 .bottom_1 .img7 {
  background: #FFFFFF;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  transition-duration: 0.3s;
}
.section-2 .bottom_1 .img7:hover {
  transform: scale(0.9);
}
.section-2 .bottom_1 .img7:hover .view {
  display: inline;
}
.section-2 .bottom_1 .img7 h4 {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  color: #1E212C;
}
.section-2 .bottom_1 .img7 p {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
  color: #787A80;
  margin-bottom: 30px;
}
.section-2 .bottom_1 .img7 .view {
  width: 150px;
  height: 50px;
  border: 1px solid #FF5A30;
  border-radius: 4px;
  margin: 0 auto;
  display: none;
}
.section-2 .bottom_1 .img7 .view button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  color: #FF5A30;
}
.section-2 .bottom_1 .img8 {
  background: #FFFFFF;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  transition-duration: 0.3s;
}
.section-2 .bottom_1 .img8:hover {
  transform: scale(0.9);
}
.section-2 .bottom_1 .img8:hover .view {
  display: inline;
}
.section-2 .bottom_1 .img8 h4 {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  color: #1E212C;
}
.section-2 .bottom_1 .img8 p {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
  color: #787A80;
  margin-bottom: 30px;
}
.section-2 .bottom_1 .img8 .view {
  width: 150px;
  height: 50px;
  border: 1px solid #FF5A30;
  border-radius: 4px;
  margin: 0 auto;
  display: none;
}
.section-2 .bottom_1 .img8 .view button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  color: #FF5A30;
}
.section-2 .bottom_1 .img9 {
  background: #FFFFFF;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  transition-duration: 0.3s;
}
.section-2 .bottom_1 .img9:hover {
  transform: scale(0.9);
}
.section-2 .bottom_1 .img9:hover .view {
  display: inline;
}
.section-2 .bottom_1 .img9 h4 {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  color: #1E212C;
}
.section-2 .bottom_1 .img9 p {
  margin-top: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
  color: #787A80;
  margin-bottom: 30px;
}
.section-2 .bottom_1 .img9 .view {
  width: 150px;
  height: 50px;
  border: 1px solid #FF5A30;
  border-radius: 4px;
  margin: 0 auto;
  display: none;
}
.section-2 .bottom_1 .img9 .view button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  color: #FF5A30;
}
.section-2 .load {
  margin: 0 auto;
  width: 150px;
  align-items: center;
  margin-top: 30px;
}

.section-3 {
  width: 100%;
  height: 65vh;
  margin: 300px auto;
  background: #F4F5F7;
}
.section-3 .content-3 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}
.section-3 .content-3 .left_cont_3 {
  margin-top: 100px;
  position: relative;
  height: 100%;
}
.section-3 .content-3 .left_cont_3 h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: #D7DADD;
  color: #1E212C;
}
.section-3 .content-3 .left_cont_3 .sliders_3 {
  margin-top: 50px;
  width: 550px;
}
.section-3 .content-3 .left_cont_3 .sliders_3 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  margin-top: 25px;
}
.section-3 .content-3 .left_cont_3 .sliders_3 h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  color: #1E212C;
  margin-top: 25px;
}
.section-3 .content-3 .left_cont_3 .sliders_3 h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
  font-size: 14px;
  color: #787A80;
}
.section-3 .content-3 .left_cont_3 .arrows-3 {
  display: flex;
  justify-content: space-between;
  width: 65px;
  position: absolute;
  right: 50px;
  bottom: 0;
}
.section-3 .content-3 .right_cont_3 {
  margin-top: 110px;
}

.section-4 {
  width: 100%;
}
.section-4 h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: #D7DADD;
  width: 300px;
  margin: 0 auto;
  color: #1E212C;
  text-align: center;
}
.section-4 .icons {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

.section-6 {
  width: 100%;
  height: 100vh;
  background-image: url(../../img/bg-2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 180px;
}
.section-6 .discuss_block {
  position: absolute;
  right: 400px;
  margin-top: 200px;
  background: #FFF;
  width: 600px;
  height: 700px;
}
.section-6 .discuss_block h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.section-6 .discuss_block .name_2 {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-6 .discuss_block .name_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-bottom: 10px;
}
.section-6 .discuss_block .name_2 input {
  width: 500px;
  background: #F4F5F7;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #D7DADD;
}
.section-6 .discuss_block .phone_2 {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-6 .discuss_block .phone_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-bottom: 10px;
}
.section-6 .discuss_block .phone_2 input {
  width: 500px;
  background: #F4F5F7;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #D7DADD;
}
.section-6 .discuss_block .email_2 {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-6 .discuss_block .email_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-bottom: 10px;
}
.section-6 .discuss_block .email_2 input {
  width: 500px;
  background: #F4F5F7;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #D7DADD;
}
.section-6 .discuss_block .message_2 {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-6 .discuss_block .message_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-bottom: 10px;
}
.section-6 .discuss_block .message_2 input {
  width: 500px;
  background: #F4F5F7;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #D7DADD;
}
.section-6 .discuss_block .request {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: #FF5A30;
  border-radius: 4px;
  margin-top: 50px;
  text-transform: uppercase;
}
.section-6 .discuss_block .request button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

footer {
  background: #1E212C;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
footer .footer_content {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  padding-top: 80px;
}
footer .footer_content .footer_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footer_content .footer_top .left_top {
  width: 50%;
}
footer .footer_content .footer_top .left_top .logo {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
footer .footer_content .footer_top .left_top .footer_discription {
  margin-top: 30px;
  width: 550px;
}
footer .footer_content .footer_top .left_top .footer_discription p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  color: white;
}
footer .footer_content .footer_top .right_top {
  width: 50%;
}
footer .footer_content .footer_top .right_top h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
  font-size: 24px;
  color: white;
  text-align: left;
}
footer .footer_content .footer_top .right_top form {
  margin-top: 20px;
}
footer .footer_content .footer_top .right_top form input:nth-child(1) {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  height: 44px;
  width: 300px;
}
footer .footer_content .footer_top .right_top form input:nth-child(2) {
  width: 131px;
  height: 44px;
  background: #FF5A30;
  border-radius: 0px 4px 4px 0px;
}
footer .footer_content .footer_top .right_top p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  font-size: 12px;
  color: white;
  opacity: 0.6;
  margin-top: 15px;
}
footer .footer_content .footer_middle {
  display: flex;
  justify-content: space-between;
  height: 160px;
  width: 70%;
  margin-top: 80px;
}
footer .footer_content .footer_middle .office {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
footer .footer_content .footer_middle .office h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  line-height: 150%;
  color: #fff;
}
footer .footer_content .footer_middle .office p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
  text-align: left;
  color: #fff;
  margin-top: 20px;
}
footer .footer_content .footer_middle .office p span {
  opacity: 0.3;
}
footer .footer_content .footer_middle .we {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer_content .footer_middle .we h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  line-height: 150%;
  color: #fff;
  text-align: left;
}
footer .footer_content .footer_middle .we a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
  color: white;
  text-align: left;
}
footer .footer_content .footer_middle .our {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer_content .footer_middle .our h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  line-height: 150%;
  color: #fff;
  text-align: left;
}
footer .footer_content .footer_middle .our a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
  color: white;
  text-align: left;
}
footer .footer_content .footer_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  width: 83%;
  align-items: center;
}
footer .footer_content .footer_bottom .heart p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  font-size: 12px;
  color: #fff;
}
footer .footer_content .footer_bottom .go_to_top {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
footer .footer_content .footer_bottom .go_to_top p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  color: #fff;
  align-items: end;
}
footer .footer_content .footer_bottom .go_to_top a {
  width: 40px;
  height: 40px;
  align-items: center;
  text-align: center;
  background-color: #FF5A30;
  border-radius: 4px;
}
footer .footer_content .footer_bottom .go_to_top a img {
  padding-top: 14px;
}

/*# sourceMappingURL=page4.css.map */
