@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button, input {
  background: none;
  border: none;
}

header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  margin: 0 auto;
}
header .header_left {
  display: flex;
  justify-content: space-between;
  width: 650px;
  align-items: center;
}
header .header_left .logo_header {
  align-items: center;
}
header .header_left .nav_header {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
header .header_left .nav_header a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
header .header_right {
  display: flex;
  justify-content: space-between;
  width: 410px;
}
header .header_right .phone_icon {
  display: flex;
  justify-content: space-between;
  width: 190px;
  align-items: center;
}
header .header_right .phone_icon a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1E212C;
}
header .header_right .chat_icon {
  width: 215px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_right .chat_icon a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1E212C;
}

.section-1 {
  width: 100%;
  height: 90vh;
  position: relative;
}
.section-1 .bckgrnd_slick {
  width: 100%;
  height: 90vh;
}
.section-1 .bckgrnd_slick div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../../img/123.jpg);
}
.section-1 .block_1 {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.section-1 .block_1 .main_content {
  position: absolute;
  left: 300px;
}
.section-1 .block_1 .main_content h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  color: #FFFFFF;
}
.section-1 .block_1 .main_content h2 span {
  color: #FF5A30;
}
.section-1 .block_1 .main_content p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}
.section-1 .block_1 .main_content .buttons_1 {
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin-top: 50px;
}
.section-1 .block_1 .main_content .buttons_1 button:nth-child(1) {
  width: 250px;
  border: 1px solid white;
  border-radius: 4px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 52px;
}
.section-1 .block_1 .main_content .buttons_1 button:nth-child(1):hover {
  background-color: #FF5A30;
}
.section-1 .block_1 .main_content .buttons_1 button:nth-child(2) {
  width: 250px;
  border: 1px solid white;
  border-radius: 4px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 52px;
}
.section-1 .block_1 .main_content .buttons_1 button:nth-child(2):hover {
  background-color: #FF5A30;
}
.section-1 .block_1 .arrows button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
}
.section-1 .block_1 .arrows button:nth-child(1) {
  padding: 10px;
  width: 40px;
  height: 40px;
  background: grey;
  position: absolute;
  left: 50px;
  text-transform: uppercase;
}
.section-1 .block_1 .arrows button:nth-child(1):active {
  background-color: white;
}
.section-1 .block_1 .arrows button:nth-child(2) {
  padding: 10px;
  width: 40px;
  height: 40px;
  background: grey;
  position: absolute;
  right: 50px;
  text-transform: uppercase;
}
.section-1 .block_1 .arrows button:nth-child(2):active {
  background-color: white;
}

.section-2 {
  height: 144vh;
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;
}
.section-2 .page2_cont {
  width: 100%;
  height: 200px;
  margin-top: 50px;
}
.section-2 .page2_cont h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E212C;
  margin-bottom: 20px;
}
.section-2 .page2_cont p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #787A80;
}
.section-2 .video_cont {
  margin-top: 50px;
  width: 100%;
  height: 400px;
  background: url(../../img/1234.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.section-2 .video_cont button {
  margin: 0 auto;
  margin-left: 47%;
  margin-top: 164px;
  position: absolute;
}
.section-2 .video_cont .show {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  display: none;
}
.section-2 .video_cont .show iframe {
  width: 100%;
  height: 100%;
}
.section-2 .values {
  margin-top: 100px;
}
.section-2 .values .values_title {
  width: 800px;
  margin: 0 auto;
}
.section-2 .values .values_title h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E212C;
  margin-bottom: 20px;
}
.section-2 .values .values_title p {
  ont-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #787A80;
}
.section-2 .values .values_choise {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.section-2 .values .values_choise .quality {
  text-align: center;
  width: 500px;
}
.section-2 .values .values_choise .quality p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
}
.section-2 .values .values_choise .safety {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  text-align: center;
  width: 500px;
}
.section-2 .values .values_choise .safety p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
}
.section-2 .values .values_choise .comfort {
  text-align: center;
  width: 500px;
}
.section-2 .values .values_choise .comfort p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
}
.section-2 .question {
  margin-top: 50px;
  align-items: center;
  background-color: #fff;
  z-index: 1;
}
.section-2 .question h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46p;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E212C;
  margin-bottom: 20px;
}
.section-2 .question .inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-2 .question .inputs .name h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.section-2 .question .inputs .name input {
  width: 250px;
  height: 44px;
  background-color: #dad6d6;
  border-radius: 4px;
  padding: 5px;
}
.section-2 .question .inputs .phone h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.section-2 .question .inputs .phone input {
  width: 250px;
  height: 44px;
  background-color: #dad6d6;
  border-radius: 4px;
  padding: 5px;
}
.section-2 .question .inputs .message h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.section-2 .question .inputs .message input {
  width: 400px;
  height: 44px;
  background-color: #dad6d6;
  border-radius: 4px;
  padding: 5px;
}
.section-2 .question .inputs button {
  margin-top: 18px;
  width: 204px;
  height: 44px;
  background: #FF5A30;
  border-radius: 4px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-3 {
  width: 100%;
  height: 70vh;
  background: url(../../img/12345.jpg);
}
.section-3 .services {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.section-3 .services h2 {
  padding-bottom: 30px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E212C;
  margin-bottom: 20px;
}
.section-3 .services p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
}
.section-3 .service_projects {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  margin-top: 60px;
}
.section-3 .service_projects .construction {
  background-color: #fff;
  width: 23%;
  height: 285px;
  text-align: center;
  transition-duration: 0.3s;
}
.section-3 .service_projects .construction .constr {
  margin-top: 36%;
}
.section-3 .service_projects .construction p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
}
.section-3 .service_projects .construction:hover {
  background-image: url(../../img/image1.jpg);
  background-size: cover;
  background-position: center;
}
.section-3 .service_projects .development {
  background-color: #fff;
  width: 23%;
  height: 285px;
  text-align: center;
  transition-duration: 0.3s;
}
.section-3 .service_projects .development .dvp {
  margin-top: 36%;
}
.section-3 .service_projects .development p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
}
.section-3 .service_projects .development:hover {
  background-image: url(../../img/image2.jpg);
  background-size: cover;
  background-position: center;
}
.section-3 .service_projects .design {
  background-color: #fff;
  width: 23%;
  height: 285px;
  text-align: center;
  transition-duration: 0.3s;
}
.section-3 .service_projects .design .dsgn {
  margin-top: 36%;
}
.section-3 .service_projects .design p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
}
.section-3 .service_projects .design:hover {
  background-image: url(../../img/image3.jpg);
  background-size: cover;
  background-position: center;
}
.section-3 .service_projects .repairs {
  background-color: #fff;
  width: 23%;
  height: 285px;
  background-image: url(../../img/icon/rprswhite.svg);
  text-align: center;
  transition-duration: 0.3s;
}
.section-3 .service_projects .repairs .rprs {
  margin-top: 36%;
}
.section-3 .service_projects .repairs p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
}
.section-3 .service_projects .repairs:hover {
  background-image: url(../../img/image4.jpg);
  background-size: cover;
  background-position: center;
}
.section-3 .view_services {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.section-3 .view_services .view_left {
  width: 425px;
}
.section-3 .view_services .view_left p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #1E212C;
}
.section-3 .view_services .view_right {
  width: 230px;
}
.section-3 .view_services .view_right button {
  width: 222px;
  height: 52px;
  background-color: #FF5A30;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
}

.section-4 {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 150px;
}
.section-4 .top_cont .title {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.section-4 .top_cont .title .prj_title h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E212C;
  margin-bottom: 20px;
}
.section-4 .top_cont .title .arrows-2 {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section-4 .top_cont .title .arrows-2 .arrow_leftt {
  background-color: #a6a2a2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.section-4 .top_cont .title .arrows-2 .arrow_leftt:hover {
  background-color: #FF5A30;
}
.section-4 .top_cont .title .arrows-2 .arrow_rightt {
  background-color: #a6a2a2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.section-4 .top_cont .title .arrows-2 .arrow_rightt:hover {
  background-color: #FF5A30;
}
.section-4 .top_cont .projects {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.section-4 .top_cont .projects .finger {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  text-align: center;
  transition-duration: 0.3s;
  width: 100px;
}
.section-4 .top_cont .projects .finger:hover {
  transform: scale(1, 0.8);
  transform-origin: top;
}
.section-4 .top_cont .projects .finger:hover button {
  display: inline;
}
.section-4 .top_cont .projects .finger h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
}
.section-4 .top_cont .projects .finger p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  margin-top: 10px;
}
.section-4 .top_cont .projects .finger button {
  width: 150px;
  height: 50px;
  border: 3px solid #FF5A30;
  border-radius: 4px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FF5A30;
  display: none;
  margin-top: 15px;
}
.section-4 .top_cont .projects .cubes {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  brder-radius: 4px;
  text-align: center;
  transition-duration: 0.3s;
}
.section-4 .top_cont .projects .cubes:hover {
  transform: scale(1, 0.8);
  transform-origin: top;
}
.section-4 .top_cont .projects .cubes:hover button {
  display: inline;
}
.section-4 .top_cont .projects .cubes h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
}
.section-4 .top_cont .projects .cubes p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  margin-top: 10px;
  color: #787A80;
}
.section-4 .top_cont .projects .cubes button {
  width: 150px;
  height: 50px;
  border: 3px solid #FF5A30;
  border-radius: 4px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FF5A30;
  display: none;
  margin-top: 15px;
}
.section-4 .top_cont .projects .pencil {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  text-align: center;
  transition-duration: 0.3s;
  width: 30%;
}
.section-4 .top_cont .projects .pencil:hover {
  transform: scale(1, 0.8);
  transform-origin: top;
  background-color: #c9ceca;
}
.section-4 .top_cont .projects .pencil:hover button {
  display: inline;
}
.section-4 .top_cont .projects .pencil h4 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
}
.section-4 .top_cont .projects .pencil p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  margin-top: 10px;
}
.section-4 .top_cont .projects .pencil button {
  width: 150px;
  height: 50px;
  border: 3px solid #FF5A30;
  border-radius: 4px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FF5A30;
  display: none;
  margin-top: 15px;
}
.section-4 .bottom_cont {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}
.section-4 .bottom_cont .portfolio_left {
  width: 425px;
  height: 60px;
  display: flex;
  align-items: center;
}
.section-4 .bottom_cont .portfolio_left p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1E212C;
}
.section-4 .bottom_cont .portfolio_right {
  width: 230px;
  align-items: center;
  text-align: center;
}
.section-4 .bottom_cont .portfolio_right button {
  width: 222px;
  height: 60px;
  background-color: #FF5A30;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
}

.section-5 {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: url(../../img/background.png);
}
.section-5 .top_logo {
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
}
.section-5 .top_logo h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E212C;
  margin-bottom: 20px;
}
.section-5 .top_logo .logo_more {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
}
.section-5 .cont-5 {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 200px;
}
.section-5 .cont-5 .left-5 {
  width: 50%;
  position: relative;
  height: 100%;
}
.section-5 .cont-5 .left-5 h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E212C;
  margin-bottom: 20px;
}
.section-5 .cont-5 .left-5 .sliders-5 {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.section-5 .cont-5 .left-5 .sliders-5 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-top: 30px;
}
.section-5 .cont-5 .left-5 .sliders-5 h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1E212C;
  margin-top: 30px;
}
.section-5 .cont-5 .left-5 .sliders-5 h6 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 5px;
}
.section-5 .cont-5 .left-5 .arrows-5 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.section-6 {
  width: 100%;
  height: 155vh;
  background-image: url(../../img/bg.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 100px;
  background-position: left;
}
.section-6 .top_block {
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
}
.section-6 .top_block h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E212C;
  margin-bottom: 20px;
}
.section-6 .top_block .circles {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.section-6 .top_block .circles p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  text-align: center;
  margin-top: 15px;
}
.section-6 h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1E212C;
  margin-bottom: 20px;
  margin-top: 50px;
}
.section-6 .bottom_block {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.section-6 .bottom_block .bottom_left {
  margin-top: 50px;
  width: 707px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
  transition-duration: 0.3s;
}
.section-6 .bottom_block .bottom_left h3:hover {
  color: #FF5A30;
}
.section-6 .bottom_block .bottom_left:hover {
  transform: scale(1.2);
}
.section-6 .bottom_block .bottom_left h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
  text-align: left;
}
.section-6 .bottom_block .bottom_left .info {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.section-6 .bottom_block .bottom_left .info a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.section-6 .bottom_block .bottom_left p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
  text-align: left;
  margin-top: 15px;
}
.section-6 .bottom_block .bottom_right {
  width: 40%;
  margin-top: 50px;
}
.section-6 .bottom_block .bottom_right .bottom_top {
  width: 501px;
  height: 250px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
  transition-duration: 0.3s;
}
.section-6 .bottom_block .bottom_right .bottom_top:hover {
  transform: scale(1.3);
}
.section-6 .bottom_block .bottom_right .bottom_top h3:hover {
  color: #FF5A30;
}
.section-6 .bottom_block .bottom_right .bottom_top h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
  text-align: left;
}
.section-6 .bottom_block .bottom_right .bottom_top .info_2 {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.section-6 .bottom_block .bottom_right .bottom_top .info_2 a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.section-6 .bottom_block .bottom_right .bottom_bottom {
  margin-top: 70px;
  width: 501px;
  height: 230px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
  transition-duration: 0.3s;
}
.section-6 .bottom_block .bottom_right .bottom_bottom h3:hover {
  color: #FF5A30;
}
.section-6 .bottom_block .bottom_right .bottom_bottom:hover {
  transform: scale(1.3);
}
.section-6 .bottom_block .bottom_right .bottom_bottom h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
  text-align: left;
}
.section-6 .bottom_block .bottom_right .bottom_bottom .info_3 {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.section-6 .bottom_block .bottom_right .bottom_bottom .info_3 a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}
.section-6 .bottom_news {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}
.section-6 .bottom_news .news_left {
  width: 425px;
  height: 60px;
  display: flex;
  align-items: center;
}
.section-6 .bottom_news .news_left p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1E212C;
}
.section-6 .bottom_news .news_right {
  width: 230px;
  align-items: center;
  text-align: center;
}
.section-6 .bottom_news .news_right button {
  width: 222px;
  height: 60px;
  background-color: #FF5A30;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
}

.section-7 {
  width: 100%;
  height: 100vh;
  background-image: url(../../img/bg-2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.section-7 .discuss_block {
  position: absolute;
  right: 400px;
  margin-top: 200px;
  background: #FFF;
  width: 600px;
  height: 700px;
}
.section-7 .discuss_block h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.section-7 .discuss_block .name_2 {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-7 .discuss_block .name_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-bottom: 10px;
}
.section-7 .discuss_block .name_2 input {
  width: 500px;
  background: #F4F5F7;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #D7DADD;
}
.section-7 .discuss_block .phone_2 {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-7 .discuss_block .phone_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-bottom: 10px;
}
.section-7 .discuss_block .phone_2 input {
  width: 500px;
  background: #F4F5F7;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #D7DADD;
}
.section-7 .discuss_block .email_2 {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-7 .discuss_block .email_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-bottom: 10px;
}
.section-7 .discuss_block .email_2 input {
  width: 500px;
  background: #F4F5F7;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #D7DADD;
}
.section-7 .discuss_block .message_2 {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
}
.section-7 .discuss_block .message_2 p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  padding-bottom: 10px;
}
.section-7 .discuss_block .message_2 input {
  width: 500px;
  background: #F4F5F7;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #D7DADD;
}
.section-7 .discuss_block .request {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: #FF5A30;
  border-radius: 4px;
  margin-top: 50px;
}
.section-7 .discuss_block .request button {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

footer {
  background: #1E212C;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
footer .footer_content {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  padding-top: 80px;
}
footer .footer_content .footer_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footer_content .footer_top .left_top {
  width: 50%;
}
footer .footer_content .footer_top .left_top .logo {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
footer .footer_content .footer_top .left_top .footer_discription {
  margin-top: 30px;
  width: 550px;
}
footer .footer_content .footer_top .left_top .footer_discription p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  color: white;
}
footer .footer_content .footer_top .right_top {
  width: 50%;
}
footer .footer_content .footer_top .right_top h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1E212C;
  font-size: 24px;
  color: white;
  text-align: left;
}
footer .footer_content .footer_top .right_top form {
  margin-top: 20px;
}
footer .footer_content .footer_top .right_top form input:nth-child(1) {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  height: 44px;
  width: 300px;
}
footer .footer_content .footer_top .right_top form input:nth-child(2) {
  width: 131px;
  height: 44px;
  background: #FF5A30;
  border-radius: 0px 4px 4px 0px;
}
footer .footer_content .footer_top .right_top p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  font-size: 12px;
  color: white;
  opacity: 0.6;
  margin-top: 15px;
}
footer .footer_content .footer_middle {
  display: flex;
  justify-content: space-between;
  height: 160px;
  width: 70%;
  margin-top: 80px;
}
footer .footer_content .footer_middle .office {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
footer .footer_content .footer_middle .office h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  line-height: 150%;
  color: #fff;
}
footer .footer_content .footer_middle .office p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
  text-align: left;
  color: #fff;
  margin-top: 20px;
}
footer .footer_content .footer_middle .office p span {
  opacity: 0.3;
}
footer .footer_content .footer_middle .we {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer_content .footer_middle .we h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  line-height: 150%;
  color: #fff;
  text-align: left;
}
footer .footer_content .footer_middle .we a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
  color: white;
  text-align: left;
}
footer .footer_content .footer_middle .our {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer_content .footer_middle .our h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  line-height: 150%;
  color: #fff;
  text-align: left;
}
footer .footer_content .footer_middle .our a {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787A80;
  color: white;
  text-align: left;
}
footer .footer_content .footer_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  width: 83%;
  align-items: center;
}
footer .footer_content .footer_bottom .heart p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  font-size: 12px;
  color: #fff;
}
footer .footer_content .footer_bottom .go_to_top {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
footer .footer_content .footer_bottom .go_to_top p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  color: #fff;
  align-items: end;
}
footer .footer_content .footer_bottom .go_to_top a {
  width: 40px;
  height: 40px;
  align-items: center;
  text-align: center;
  background-color: #FF5A30;
  border-radius: 4px;
}
footer .footer_content .footer_bottom .go_to_top a img {
  padding-top: 14px;
}

/*# sourceMappingURL=style.css.map */
