@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
button, input
    background: none
    border: none

@mixin nav()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 160%
    color: #424551
@mixin tel()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 150%
    color: #1E212C
@mixin description()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 160%
    color: #787A80
@mixin titles()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 150%
    color: #1E212C
@mixin numbers()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 46px
    line-height: 130%
    display: flex
    align-items: center
    color: #D7DADD
@mixin style()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 150%
    color: #FFFFFF
@mixin button()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 52px
    letter-spacing: 0.5px
    text-transform: uppercase
    color: #FFFFFF
@mixin view()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 44px
    display: flex
    align-items: center
    text-align: center
    letter-spacing: 0.5px
    text-transform: uppercase
    color: #FF5A30

.section-1
    width: 100%
    height: 70vh
    background-image: url(../../img/page3bg.png)
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    header
        display: flex
        justify-content: space-between
        width: 80%
        height: 100px
        margin: 0 auto
        .header_left
            display: flex
            justify-content: space-between
            width: 650px
            align-items: center
            .logo_header
                align-items: center
            .nav_header
                display: flex
                justify-content: space-between
                width: 400px
                .red
                    color: #FF5A30

                a
                    @include nav()

        .header_right
            display: flex
            justify-content: space-between
            width: 410px
            .phone_icon
                display: flex
                justify-content: space-between
                width: 190px
                align-items: center
                a
                    @include tel()
                    display: flex
                    align-items: center

            .chat_icon
                width: 215px
                display: flex
                justify-content: space-between
                align-items: center
                a
                    @include tel()
                    display: flex
                    align-items: center
    .page3_content
        width: 80%
        margin: 0 auto
        margin-top: 100px
        .links
            display: flex
            justify-content: space-between
            width: 250px
            align-items: end
            a
            @include description()
            font-size: 14px
            line-height: 150%
            color: #424551
            &:nth-child(3)
                color: #9A9CA5

        h2
            @include titles()
            font-size: 72px
            line-height: 130%
            margin-top: 50px
        p
            @include description()
            font-size: 20px
            line-height: 150%
            margin-top: 30px
.section-2
    width: 100%
    height: 100vh
    .top_1
        width: 70%
        margin: 120px auto
        display: flex
        justify-content: space-between
        .top_1_left
            border: solid

        .top_1_right
            border: solid
            width: 45%
    .bottom_1
        width: 70%
        margin: 150px auto
        h2
            @include numbers()
            color: #1E212C
        .bottom_content
            display: flex
            justify-content: space-between
            margin-top: 30px
            .work
                width: 23%
                h4
                    @include numbers()
                    span
                        transition-duration: 0.3s
                    &:hover
                        span
                            color: #FF5A30
                h5
                    @include titles()
                    margin-top: 15px
                    font-size: 20px
                p
                    @include description()
                    margin-top: 15px

            .contract
                width: 23%
                h4
                    @include numbers()
                    span
                        transition-duration: 0.3s
                    &:hover
                        span
                            color: #FF5A30
                h5
                    @include titles()
                    margin-top: 15px
                    font-size: 20px
                p
                    @include description()
                    margin-top: 15px

            .mobilization
                width: 23%
                transition-duration: 1.9s
                h4
                    @include numbers()
                    span
                        transition-duration: 0.3s
                    &:hover
                        span
                            color: #FF5A30
                h5
                    @include titles()
                    margin-top: 15px
                    font-size: 20px
                p
                    @include description()
                    margin-top: 15px

            .construction
                width: 23%
                h4
                    @include numbers()
                    transition-duration: 0.3s
                    &:hover
                        color: #FF5A30
                h5
                    @include titles()
                    margin-top: 15px
                    font-size: 20px
                p
                    @include description()
                    margin-top: 15px
.section-3
    width: 100%
    height: 55vh
    background: #1e212c
    margin-top: 30px
    .top_cont_3
        width: 80%
        text-align: center
        margin: 0 auto
        padding-top: 100px
        h2
            @include numbers()
            text-align: center
            justify-content: center
        p
            @include tel()
            display: flex
            align-items: center
            text-align: center
            justify-content: center
    .block_cont
        display: flex
        justify-content: space-between
        width: 80%
        margin: 75px auto
        .block_cont_1
            text-align: center
            width: 32%
            border-right: 1px solid #DADBDD
            h2
                @include style()
            p
                @include description()
                color: #fff
                opacity: 0.6
        .block_cont_2
            width: 32%
            text-align: center
            h2
                @include style()
            p
                @include description()
                color: #fff
                opacity: 0.6
        .block_cont_3
            width: 32%
            border-left: 1px solid #DADBDD
            text-align: center
            h2
                @include style()
            p
                @include description()
                color: #fff
                opacity: 0.6
    .button_3
        width: 390px
        height: 52px
        background-color: #FF5A30
        border-radius: 4px
        margin: 0 auto
        margin-top: 93px
        text-align: center
        button
            @include button()
.section-4
    width: 100%
    height: 100vh
    margin-top: 100px
    .top_cont_4
        width: 80%
        margin: 0 auto
        display: flex
        justify-content: space-between
        .title_4
            h2
                @include numbers()
                color: #1E212C
        .arrows_4
            display: flex
            justify-content: space-between
            align-items: end
            width: 50px
    .middle_cont_4
        display: flex
        justify-content: space-between
        width: 80%
        margin: 0 auto
        margin-top: 80px
        .kids
            width: 25.7%
            box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05)
            border-radius: 4px
            h3
                text-align: center
                margin-top: 15px
                @include style()
                color: #1E212C
            p
                margin-top: 15px
                @include tel()
                font-size: 14px
                text-align: center
            .button_4
                width: 144px
                height: 44px
                margin: 10px auto
                border: 1px solid #FF5A30
                border-radius: 4px
                button
                    @include view()
                    padding-left: 17px
        .double
            width: 25.7%
            box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05)
            border-radius: 4px
            h3
                text-align: center
                margin-top: 15px
                @include style()
                color: #1E212C
            p
                text-align: center
                margin-top: 15px
                @include tel()
                font-size: 14px
            .button_4
                width: 144px
                height: 44px
                margin: 10px auto
                border: 1px solid #FF5A30
                border-radius: 4px
                button
                    @include view()
                    padding-left: 17px

        .scandinavian
            width: 25.7%
            box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05)
            border-radius: 4px
            h3
                text-align: center
                margin-top: 15px
                @include style()
                color: #1E212C
            p
                text-align: center
                margin-top: 15px
                @include tel()
                font-size: 14px
            .button_4
                width: 144px
                height: 44px
                margin: 10px auto
                border: 1px solid #FF5A30
                border-radius: 4px
                button
                    @include view()
                    padding-left: 17px

    .bottom_cont_4
        display: flex
        justify-content: space-between
        width: 600px
        margin: 0 auto
        margin-top: 50px
        .portfolio_left
            width: 425px
            height: 60px
            display: flex
            align-items: center
            p
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 28px
                line-height: 150%
                color: #1E212C

        .portfolio_right
            width: 230px
            align-items: center
            text-align: center
            button
                width: 222px
                height: 60px
                background-color: #FF5A30
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 16px
                letter-spacing: 0.5px
                text-transform: uppercase
                color: #FFFFFF
                border-radius: 4px
.section-5
    width: 100%
    height: 100vh
    background-image: url(../../img/bg.png)
    background-position: left
    background-repeat: no-repeat
    border: solid
    h2
        width: 400px
        margin: 50px auto
        display: flex
        justify-content: center
        align-items: center
        @include numbers()
        color: #1E212C
    p
        width: 400px
        margin: 0 auto
        display: flex
        justify-content: center
        align-items: center
        @include tel()
        color: #787A80
    table
        width: 70%
        margin: 0 auto
        .block1
            border: solid
        .block2
            border: solid
.section-6
    width: 100%
    height: 100vh
    background-image: url(../../img/bg-2.jpg)
    background-position: center
    background-size: cover
    position: relative
    margin-top: 180px
    .discuss_block
        position: absolute
        right: 400px
        margin-top: 200px
        background: #FFF
        width: 600px
        height: 700px
        h2
            font-family: 'Ubuntu'
            font-style: normal
            font-weight: 700
            font-size: 28px
            line-height: 150%
            align-items: center
            text-align: center
            margin-top: 50px
        .name_2
            width: 90%
            height: 80px
            margin: 0 auto
            margin-top: 30px
            p
                @include question()
                padding-bottom: 10px
            input
                width: 500px
                background: #F4F5F7
                height: 40px
                border-radius: 4px
                border: 2px solid #D7DADD
        .phone_2
            width: 90%
            height: 80px
            margin: 0 auto
            margin-top: 30px
            p
                @include question()
                padding-bottom: 10px
            input
                width: 500px
                background: #F4F5F7
                height: 40px
                border-radius: 4px
                border: 2px solid #D7DADD
        .email_2
            width: 90%
            height: 80px
            margin: 0 auto
            margin-top: 30px
            p
                @include question()
                padding-bottom: 10px
            input
                width: 500px
                background: #F4F5F7
                height: 40px
                border-radius: 4px
                border: 2px solid #D7DADD
        .message_2
            width: 90%
            height: 80px
            margin: 0 auto
            margin-top: 30px
            p
                @include question()
                padding-bottom: 10px
            input
                width: 500px
                background: #F4F5F7
                height: 40px
                border-radius: 4px
                border: 2px solid #D7DADD
        .request
            width: 200px
            height: 50px
            margin: 0 auto
            background: #FF5A30
            border-radius: 4px
            margin-top: 50px
            text-transform: uppercase
            button
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 14px
                line-height: 44px
                display: flex
                margin: 0 auto
                align-items: center
                text-align: center
                letter-spacing: 0.5px
                color: #FFFFFF
footer
    background: #1E212C
    width: 100%
    height: 100%
    margin: 0 auto
    .footer_content
        width: 70%
        margin: 0 auto
        height: 100%
        padding-top:  80px
        .footer_top
            display: flex
            justify-content: space-between
            width: 100%
            .left_top
                width: 50%
                .logo
                    display: flex
                    justify-content: space-between
                    width: 350px
                .footer_discription
                    margin-top: 30px
                    width: 550px
                    p
                        @include question()
                        color: #ffff


            .right_top
                width: 50%
                h2
                    @include services()
                    font-size: 24px
                    color: #ffff
                    text-align: left
                form
                    margin-top: 20px
                    input:nth-child(1)
                        background: rgba(255, 255, 255, 0.12)
                        border: 1px solid rgba(255, 255, 255, 0.2)
                        border-radius: 4px
                        height: 44px
                        width: 300px
                    input:nth-child(2)
                        width: 131px
                        height: 44px
                        background: #FF5A30
                        border-radius: 0px 4px 4px 0px
                p
                    @include question()
                    font-size: 12px
                    color: #ffff
                    opacity: 0.6
                    margin-top: 15px
        .footer_middle
            display: flex
            justify-content: space-between
            height: 160px
            width: 70%
            margin-top: 80px
            .office
                display: flex
                flex-direction: column
                justify-content: space-between
                height: 100px
                h2
                    @include nav()
                    line-height: 150%
                    color: #fff
                p
                    @include values()
                    text-align: left
                    color: #fff
                    margin-top: 20px
                    span
                        opacity: 0.3

            .we
                display: flex
                flex-direction: column
                justify-content: space-between
                h2
                    @include nav()
                    line-height: 150%
                    color: #fff
                    text-align: left
                a
                    @include values()
                    color: #ffff
                    text-align: left
            .our
                display: flex
                flex-direction: column
                justify-content: space-between
                h2
                    @include nav()
                    line-height: 150%
                    color: #fff
                    text-align: left
                a
                    @include values()
                    color: #ffff
                    text-align: left
        .footer_bottom
            display: flex
            justify-content: space-between
            margin-top: 60px
            width: 83%
            align-items: center
            .heart
                p
                    @include question()
                    font-size: 12px
                    color: #fff
            .go_to_top
                display: flex
                justify-content: space-between
                width: 120px
                p
                    @include question()
                    color: #fff
                    align-items: end
                a
                    width: 40px
                    height: 40px
                    align-items: center
                    text-align: center
                    background-color: #FF5A30
                    border-radius: 4px
                    img
                        padding-top: 14px

