@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap')
*
    margin: 0
    padding: 0
    box-sizing: border-box
a 
    text-decoration: none
button, input
    background: none 
    border: none 
@mixin description()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 160%
    color: #787A80
@mixin titles()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 32px
    line-height: 150%
    color: #1E212C
@mixin buttons()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 44px
    display: flex
    align-items: center
    text-align: center
    letter-spacing: 0.5px
    text-transform: uppercase
    color: #FF5A30
@mixin nav()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 160%
    color: #424551
@mixin tel()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 150%
    display: flex
    align-items: center
    color: #1E212C
@mixin question()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 150%
    color: #424551
@mixin services()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 150%
    text-align: center
    color: #1E212C
@mixin values()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 160%
    text-align: center
    color: #787A80





.section-1
    width: 100%
    height: 70vh
    background-image: url(../../img/page2bg.png)
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    header
        display: flex
        justify-content: space-between
        width: 80%
        height: 100px 
        margin: 0 auto
        .header_left
            display: flex
            justify-content: space-between
            width: 650px
            align-items: center
            .logo_header
                align-items: center
            .nav_header
                display: flex
                justify-content: space-between
                width: 400px
                .red
                    color: #FF5A30
                    
                a
                    @include nav()

        .header_right
            display: flex
            justify-content: space-between
            width: 410px
            .phone_icon
                display: flex
                justify-content: space-between
                width: 190px
                align-items: center
                a
                    @include tel()
                    
            .chat_icon
                width: 215px
                display: flex
                justify-content: space-between
                align-items: center
                a
                    @include tel()
    .page2_content
        width: 80%
        margin: 0 auto
        margin-top: 100px
        .links
            display: flex
            justify-content: space-between
            width: 150px
            align-items: end
            a
             @include description()
             font-size: 14px
             line-height: 150%  
             color: #424551 
             &:nth-child(2)
                color: #9A9CA5
                 
        h2
            @include titles()
            font-size: 72px
            line-height: 130%
            margin-top: 50px
        p
            @include description()
            font-size: 20px
            line-height: 150%
            margin-top: 30px            
.section-2
    width: 100%
    height: 100%
    background-color: #fff
    .block-1
        width: 80%
        height: 100%
        display: flex
        justify-content: space-between
        margin: 0 auto
        margin-top: 120px
        transition-duration: 0.3s
        &:hover
            transform: scale(1.1)
        .left_block
            width: 48%
        .right_block
            width: 48%
            margin-top: 100px
            h2
                @include titles()
                
            p
                @include description()
                margin-top: 25px
        .button-1
            width: 160px
            height: 45px
            display: flex
            align-items: center
            text-align: center
            border-radius: 4px
            border: 1px solid #FF5A30
            padding-left: 34px
            margin-top: 50px
            button
                @include buttons()
.section-3
    width: 100%
    height: 100%
    background-color: #fff
    .block-2
        width: 80%
        height: 100%
        display: flex
        justify-content: space-between
        margin: 0 auto
        margin-top: 120px
        transition-duration: 0.3s
        &:hover
            transform: scale(1.1)
        .left_block_2
            width: 48%
            margin-top: 100px
            h2
                @include titles()
                
            p
                @include description()
                margin-top: 25px
        .button-2
            width: 160px
            height: 45px
            display: flex
            align-items: center
            text-align: center
            border-radius: 4px
            border: 1px solid #FF5A30
            padding-left: 34px
            margin-top: 50px
            button
                @include buttons()
        .right_block_2
            width: 48%
.section-4
    width: 100%
    height: 100%
    background-color: #fff
    .block-3
        width: 80%
        height: 100%
        display: flex
        justify-content: space-between
        margin: 0 auto
        margin-top: 120px
        transition-duration: 0.3s
        &:hover
            transform: scale(1.1)
        .left_block_3
            width: 48%
        .right_block_3
            width: 48%
            margin-top: 100px
            h2
                @include titles()
                
            p
                @include description()
                margin-top: 25px
        .button-3
            width: 160px
            height: 45px
            display: flex
            align-items: center
            text-align: center
            border-radius: 4px
            border: 1px solid #FF5A30
            padding-left: 34px
            margin-top: 50px
            button
                @include buttons()
.section-5
    width: 100%
    height: 100%
    background-color: #fff
    .block-4
        width: 80%
        height: 100%
        display: flex
        justify-content: space-between
        margin: 0 auto
        margin-top: 120px
        transition-duration: 0.3s
        &:hover
            transform: scale(1.1)
        .left_block_4
            width: 48%
            margin-top: 100px
            h2
                @include titles()
                
            p
                @include description()
                margin-top: 25px
        .button-4
            width: 160px
            height: 45px
            display: flex
            align-items: center
            text-align: center
            border-radius: 4px
            border: 1px solid #FF5A30
            padding-left: 34px
            margin-top: 50px
            button
                @include buttons()
        .right_block_4
            width: 48%
.section-6
    width: 100%
    height: 100vh
    background-image: url(../../img/bg-2.jpg)
    background-position: center
    background-size: cover
    position: relative
    margin-top: 180px
    .discuss_block
        position: absolute
        right: 400px
        margin-top: 200px
        background: #FFF
        width: 600px
        height: 700px
        h2
            font-family: 'Ubuntu'
            font-style: normal
            font-weight: 700
            font-size: 28px
            line-height: 150%
            align-items: center
            text-align: center
            margin-top: 50px
        .name_2
            width: 90%
            height: 80px
            margin: 0 auto
            margin-top: 30px
            p
                @include question()
                padding-bottom: 10px
            input
                width: 500px
                background: #F4F5F7
                height: 40px
                border-radius: 4px
                border: 2px solid #D7DADD
        .phone_2
            width: 90%
            height: 80px
            margin: 0 auto
            margin-top: 30px
            p
                @include question()
                padding-bottom: 10px
            input
                width: 500px
                background: #F4F5F7
                height: 40px
                border-radius: 4px
                border: 2px solid #D7DADD
        .email_2
            width: 90%
            height: 80px
            margin: 0 auto
            margin-top: 30px
            p
                @include question()
                padding-bottom: 10px
            input
                width: 500px
                background: #F4F5F7
                height: 40px
                border-radius: 4px
                border: 2px solid #D7DADD
        .message_2
            width: 90%
            height: 80px
            margin: 0 auto
            margin-top: 30px
            p
                @include question()
                padding-bottom: 10px
            input
                width: 500px
                background: #F4F5F7
                height: 40px
                border-radius: 4px
                border: 2px solid #D7DADD
        .request
            width: 200px
            height: 50px
            margin: 0 auto
            background: #FF5A30
            border-radius: 4px
            margin-top: 50px
            text-transform: uppercase
            button
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 14px
                line-height: 44px
                display: flex
                margin: 0 auto
                align-items: center
                text-align: center
                letter-spacing: 0.5px
                color: #FFFFFF
footer
    background: #1E212C
    width: 100%
    height: 100%
    margin: 0 auto
    .footer_content
        width: 70%
        margin: 0 auto
        height: 100%
        padding-top:  80px
        .footer_top
            display: flex
            justify-content: space-between
            width: 100%
            .left_top
                width: 50%
                .logo
                    display: flex
                    justify-content: space-between
                    width: 350px
                .footer_discription
                    margin-top: 30px
                    width: 550px
                    p
                        @include question()
                        color: #ffff


            .right_top
                width: 50%
                h2
                    @include services()
                    font-size: 24px
                    color: #ffff
                    text-align: left
                form
                    margin-top: 20px
                    input:nth-child(1)
                        background: rgba(255, 255, 255, 0.12)
                        border: 1px solid rgba(255, 255, 255, 0.2)
                        border-radius: 4px
                        height: 44px
                        width: 300px
                    input:nth-child(2)
                        width: 131px
                        height: 44px
                        background: #FF5A30
                        border-radius: 0px 4px 4px 0px
                p
                    @include question()
                    font-size: 12px
                    color: #ffff
                    opacity: 0.6
                    margin-top: 15px
        .footer_middle
            display: flex
            justify-content: space-between
            height: 160px
            width: 70%
            margin-top: 80px
            .office
                display: flex
                flex-direction: column
                justify-content: space-between
                height: 100px
                h2
                    @include nav()
                    line-height: 150%
                    color: #fff
                p
                    @include values()
                    text-align: left
                    color: #fff
                    margin-top: 20px
                    span
                        opacity: 0.3

            .we
                display: flex
                flex-direction: column
                justify-content: space-between
                h2
                    @include nav()
                    line-height: 150%
                    color: #fff
                    text-align: left
                a
                    @include values()
                    color: #ffff
                    text-align: left
            .our
                display: flex
                flex-direction: column
                justify-content: space-between
                h2
                    @include nav()
                    line-height: 150%
                    color: #fff
                    text-align: left
                a
                    @include values()
                    color: #ffff
                    text-align: left
        .footer_bottom
            display: flex
            justify-content: space-between
            margin-top: 60px
            width: 83%
            align-items: center
            .heart
                p
                    @include question()
                    font-size: 12px
                    color: #fff
            .go_to_top
                display: flex
                justify-content: space-between
                width: 120px
                p
                    @include question()
                    color: #fff
                    align-items: end
                a
                    width: 40px
                    height: 40px
                    align-items: center
                    text-align: center
                    background-color: #FF5A30
                    border-radius: 4px
                    img
                        padding-top: 14px