@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
button, input
    background: none
    border: none
@mixin nav()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 160%
    color: #424551
@mixin values()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 160%
    text-align: center
    color: #787A80
@mixin tel()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 150%
    display: flex
    align-items: center
    color: #1E212C
@mixin title_1()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 72px
    line-height: 130%
    letter-spacing: 1px
    color: #FFFFFF
@mixin question()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 150%
    color: #424551
@mixin services()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 150%
    text-align: center
    color: #1E212C
@mixin titles()
    font-family: 'Ubuntu'
    font-style: normal
    font-weight: 700
    font-size: 46px
    line-height: 130%
    display: flex
    justify-content: center
    align-items: center
    color: #1E212C
    margin-bottom: 20px

header
    display: flex
    justify-content: space-between
    width: 80%
    height: 100px
    margin: 0 auto
    .header_left
        display: flex
        justify-content: space-between
        width: 650px
        align-items: center
        .logo_header
            align-items: center
        .nav_header
            display: flex
            justify-content: space-between
            width: 400px
            a
                @include nav()

    .header_right
        display: flex
        justify-content: space-between
        width: 410px
        .phone_icon
            display: flex
            justify-content: space-between
            width: 190px
            align-items: center
            a
                @include tel()

        .chat_icon
            width: 215px
            display: flex
            justify-content: space-between
            align-items: center
            a
                @include tel()

.section-1
    width: 100%
    height: 90vh
    position: relative
    .bckgrnd_slick
        width: 100%
        height: 90vh
        div
            width: 100%
            height: 100%
            background-size: cover
            background-position: center
            background-image: url(../../img/123.jpg)
    .block_1
        position: absolute
        top: 0
        display: flex
        align-items: center
        width: 100%
        height: 100%
        .main_content
            position: absolute
            left: 300px
            h2
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 72px
                line-height: 130%
                color: #FFFFFF
                span
                    color: #FF5A30
            p
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 400
                font-size: 20px
                line-height: 150%
                color: #FFFFFF
            .buttons_1
                display: flex
                justify-content: space-between
                width: 550px
                margin-top: 50px
                button
                    &:nth-child(1)
                        width: 250px
                        border: 1px solid #ffff
                        border-radius: 4px
                        font-family: 'Ubuntu'
                        font-style: normal
                        font-weight: 700
                        font-size: 16px
                        color: #FFFFFF
                        line-height: 52px
                        &:hover
                            background-color: #FF5A30
                    &:nth-child(2)
                        width: 250px
                        border: 1px solid #ffff
                        border-radius: 4px
                        font-family: 'Ubuntu'
                        font-style: normal
                        font-weight: 700
                        font-size: 16px
                        color: #FFFFFF
                        line-height: 52px
                        &:hover
                            background-color: #FF5A30
        .arrows
            button
                display: flex
                justify-content: space-between
                align-items: center
                border-radius: 50%
                &:nth-child(1)
                    padding: 10px
                    width: 40px
                    height: 40px
                    background: grey
                    position: absolute
                    left: 50px
                    text-transform: uppercase
                    &:active
                        background-color: #ffff

                &:nth-child(2)
                    padding: 10px
                    width: 40px
                    height: 40px
                    background: grey
                    position: absolute
                    right: 50px
                    text-transform: uppercase
                    &:active
                        background-color: #ffff
.section-2
    height: 144vh
    width: 80%
    margin: 0 auto
    margin-top: 150px
    .page2_cont
        width: 100%
        height: 200px
        margin-top: 50px
        h2
            @include titles()
        p
            font-family: 'Ubuntu'
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 150%
            text-align: center
            color: #787A80

    .video_cont
        margin-top: 50px
        width: 100%
        height: 400px
        background: url(../../img/1234.png)
        background-size: cover
        background-position: center
        position: relative
        button
            margin: 0 auto
            margin-left: 47%
            margin-top: 164px
            position: absolute
        .show
            width: 100%
            height: 100%
            position: absolute
            z-index: 99
            display: none
            iframe
                width: 100%
                height: 100%
    .values
        margin-top: 100px
        .values_title
            width: 800px
            margin: 0 auto
            h2
                @include titles()
            p
                ont-family: 'Ubuntu'
                font-style: normal
                font-weight: 400
                font-size: 18px
                line-height: 150%
                text-align: center
                color: #787A80
        .values_choise
            display: flex
            justify-content: space-between
            margin-top: 80px

            .quality
                text-align: center
                width: 500px
                p
                    @include values()
            .safety
                border-left: 1px solid grey
                border-right: 1px solid grey
                text-align: center
                width: 500px
                p
                    @include values()
            .comfort
                text-align: center
                width: 500px
                p
                    @include values()
    .question
        margin-top: 50px
        align-items: center
        background-color: #fff
        z-index: 1
        h2
            font-family: 'Ubuntu'
            font-style: normal
            font-weight: 700
            font-size: 46p
            line-height: 130%
            display: flex
            justify-content: center
            align-items: center
            color: #1E212C
            margin-bottom: 20px

        .inputs
            display: flex
            justify-content: space-between
            align-items: center
            .name
                h4
                    @include question()
                input
                    width: 250px
                    height: 44px
                    background-color: #dad6d6
                    border-radius: 4px
                    padding: 5px
            .phone
                h4
                    @include question()
                input
                    width: 250px
                    height: 44px
                    background-color: #dad6d6
                    border-radius: 4px
                    padding: 5px
            .message
                h4
                    @include question()
                input
                    width: 400px
                    height: 44px
                    background-color: #dad6d6
                    border-radius: 4px
                    padding: 5px

            button
                margin-top: 18px
                width: 204px
                height: 44px
                background: #FF5A30
                border-radius: 4px
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 14px
                text-align: center
                text-transform: uppercase
                color: #FFFFFF
.section-3
    width: 100%
    height: 70vh
    background: url(../../img/12345.jpg)
    .services
        width: 800px
        margin: 0 auto
        text-align: center
        h2
            padding-bottom: 30px
            @include titles()
        p
            @include values()
    .service_projects
        display: flex
        justify-content: space-between
        width: 70%
        margin: 0 auto
        margin-top: 60px
        .construction
            background-color: #fff
            width: 23%
            height: 285px
            text-align: center
            transition-duration: 0.3s
            .constr
                margin-top: 36%
            p
                @include services()
            &:hover
                background-image: url(../../img/image1.jpg)
                background-size: cover
                background-position: center
        .development
            background-color: #fff
            width: 23%
            height: 285px
            text-align: center
            transition-duration: 0.3s
            .dvp
                margin-top: 36%
            p
                @include services()
            &:hover
                background-image: url(../../img/image2.jpg)
                background-size: cover
                background-position: center
        .design
            background-color: #fff
            width: 23%
            height: 285px
            text-align: center
            transition-duration: 0.3s
            .dsgn
                margin-top: 36%
            p
                @include services()
            &:hover
                background-image: url(../../img/image3.jpg)
                background-size: cover
                background-position: center
        .repairs
            background-color: #fff
            width: 23%
            height: 285px
            background-image: url(../../img/icon/rprswhite.svg)
            text-align: center
            transition-duration: 0.3s
            .rprs
                margin-top: 36%
            p
                @include services()
            &:hover
                background-image: url(../../img/image4.jpg)
                background-size: cover
                background-position: center
    .view_services
        width: 50%
        margin: 0 auto
        margin-top: 50px
        display: flex
        justify-content: space-between
        .view_left
            width: 425px

            p
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 28px
                line-height: 150%
                display: flex
                align-items: center
                color: #1E212C

        .view_right
            width: 230px
            button
                width: 222px
                height: 52px
                background-color: #FF5A30
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 16px
                align-items: center
                text-align: center
                letter-spacing: 0.5px
                text-transform: uppercase
                color: #FFFFFF
                border-radius: 4px
.section-4
    width: 80%
    height: 100vh
    margin: 0 auto
    margin-top: 150px
    .top_cont

        .title
            width: 900px
            display: flex
            justify-content: space-between
            margin: 0 auto
            .prj_title
                h2
                    @include titles()
            .arrows-2
                width: 130px
                display: flex
                justify-content: space-between
                align-items: flex-end

                .arrow_leftt
                    background-color: #a6a2a2
                    width: 50px
                    height: 50px
                    border-radius: 50%
                    &:hover
                        background-color: #FF5A30

                .arrow_rightt
                    background-color: #a6a2a2
                    width: 50px
                    height: 50px
                    border-radius: 50%
                    &:hover
                        background-color: #FF5A30
        .projects
            width: 100%
            margin: 0 auto
            margin-top: 100px
            display: flex
            justify-content: space-between
            .finger
                box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
                border-radius: 4px
                text-align: center
                transition-duration: 0.3s
                width: 100px
                &:hover
                    transform: scale(1, 0.8)
                    transform-origin: top
                    button
                        display: inline

                h4
                    @include services()
                p
                    @include question()
                    margin-top: 10px
                button
                    width: 150px
                    height: 50px
                    border: 3px solid #FF5A30
                    border-radius: 4px
                    font-family: 'Ubuntu'
                    font-style: normal
                    font-weight: 700
                    font-size: 14px
                    line-height: 44px
                    align-items: center
                    text-align: center
                    letter-spacing: 0.5px
                    text-transform: uppercase
                    color: #FF5A30
                    display: none
                    margin-top: 15px

            .cubes
                box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
                brder-radius: 4px
                text-align: center
                transition-duration: 0.3s

                &:hover
                    transform: scale(1, 0.8)
                    transform-origin: top

                    button
                        display: inline
                h4
                    @include services()

                p
                    @include question()
                    margin-top: 10px
                    color: #787A80
                button
                    width: 150px
                    height: 50px
                    border: 3px solid #FF5A30
                    border-radius: 4px
                    font-family: 'Ubuntu'
                    font-style: normal
                    font-weight: 700
                    font-size: 14px
                    line-height: 44px
                    align-items: center
                    text-align: center
                    letter-spacing: 0.5px
                    text-transform: uppercase
                    color: #FF5A30
                    display: none
                    margin-top: 15px

            .pencil
                box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
                border-radius: 4px
                text-align: center
                transition-duration: 0.3s
                width: 30%
                &:hover
                    transform: scale(1, 0.8)
                    transform-origin: top
                    background-color: #c9ceca
                    button
                        display: inline

                h4
                    @include services()

                p
                    @include question()
                    margin-top: 10px
                button
                    width: 150px
                    height: 50px
                    border: 3px solid #FF5A30
                    border-radius: 4px
                    font-family: 'Ubuntu'
                    font-style: normal
                    font-weight: 700
                    font-size: 14px
                    line-height: 44px
                    align-items: center
                    text-align: center
                    letter-spacing: 0.5px
                    text-transform: uppercase
                    color: #FF5A30
                    display: none
                    margin-top: 15px
    .bottom_cont
        display: flex
        justify-content: space-between
        width: 50%
        margin: 0 auto
        margin-top: 50px
        .portfolio_left
            width: 425px
            height: 60px
            display: flex
            align-items: center
            p
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 28px
                line-height: 150%
                color: #1E212C

        .portfolio_right
            width: 230px
            align-items: center
            text-align: center
            button
                width: 222px
                height: 60px
                background-color: #FF5A30
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 16px
                letter-spacing: 0.5px
                text-transform: uppercase
                color: #FFFFFF
                border-radius: 4px
.section-5
    width: 100%
    height: 100vh
    margin: 0 auto
    background-image: url(../../img/background.png)
    .top_logo
        width: 80%
        margin: 0 auto
        padding-top: 80px
        h2
            @include titles()
        .logo_more
            width: 100%
            display: flex
            justify-content: space-between
            margin: 0 auto
            margin-top: 50px
    .cont-5
        width: 80%
        display: flex
        justify-content: space-between
        margin: 0 auto
        margin-top: 200px
        .left-5
            width: 50%
            position: relative
            height: 100%
            h2
                @include titles()

            .sliders-5
                width: 100%
                margin-top: 50px
                display: flex
                justify-content: space-between
                p
                    font-family: 'Ubuntu'
                    font-style: normal
                    font-weight: 400
                    font-size: 16px
                    line-height: 160%
                    color: #424551
                    margin-top: 30px
                h5
                    font-family: 'Ubuntu'
                    font-style: normal
                    font-weight: 700
                    font-size: 16px
                    line-height: 160%
                    color: #1E212C
                    margin-top: 30px
                h6
                    font-family: 'Ubuntu'
                    font-style: normal
                    font-weight: 400
                    font-size: 14px
                    line-height: 150%
                    color: #787A80
                    flex: none
                    order: 1
                    flex-grow: 0
                    margin-top: 5px
            .arrows-5
                position: absolute
                right: 0
                bottom: 0
                width: 70px
                display: flex
                justify-content: space-between
.section-6
    width: 100%
    height: 155vh
    background-image: url(../../img/bg.png)
    background-repeat: no-repeat
    margin: 0 auto
    margin-top: 100px
    background-position: left
    .top_block
        width: 50%
        margin: 0 auto
        padding-top: 100px
        h2
            @include titles()
        .circles
            display: flex
            justify-content: space-between
            margin-top: 60px
            p
                @include question()
                text-align: center
                margin-top: 15px

    h2
        @include titles()
        margin-top: 50px
    .bottom_block
        width: 80%
        margin: 0 auto
        margin-top: 50px
        display: flex
        justify-content: space-between
        .bottom_left
            margin-top: 50px
            width: 707px
            box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05)
            border-radius: 4px
            transition-duration: 0.3s
            h3:hover
                color: #FF5A30
            &:hover
                transform: scale(1.2)
            h3
                @include services()
                text-align: left

            .info
                width: 300px
                display: flex
                justify-content: space-between
                align-items: center
                margin-top: 15px
                a
                    @include question()
            p
                @include values()
                text-align: left
                margin-top: 15px
        .bottom_right
            width: 40%
            margin-top: 50px
            .bottom_top
                width: 501px
                height: 250px
                box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05)
                border-radius: 4px
                transition-duration: 0.3s
                &:hover
                    transform: scale(1.3)
                h3:hover
                    color: #FF5A30
                h3
                    @include services()
                    text-align: left

                .info_2
                    width: 300px
                    display: flex
                    justify-content: space-between
                    align-items: center
                    margin-top: 15px
                    a
                        @include question()
            .bottom_bottom
                margin-top: 70px
                width: 501px
                height: 230px
                box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05)
                border-radius: 4px
                transition-duration: 0.3s
                h3:hover
                    color: #FF5A30
                &:hover
                    transform: scale(1.3)
                h3
                    @include services()
                    text-align: left
                .info_3
                    width: 350px
                    display: flex
                    justify-content: space-between
                    align-items: center
                    margin-top: 15px

                    a
                        @include question()
    .bottom_news
        display: flex
        justify-content: space-between
        width: 50%
        margin: 0 auto
        margin-top: 100px
        .news_left
            width: 425px
            height: 60px
            display: flex
            align-items: center
            p
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 28px
                line-height: 150%
                color: #1E212C

        .news_right
            width: 230px
            align-items: center
            text-align: center
            button
                width: 222px
                height: 60px
                background-color: #FF5A30
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 16px
                letter-spacing: 0.5px
                text-transform: uppercase
                color: #FFFFFF
                border-radius: 4px
.section-7
    width: 100%
    height: 100vh
    background-image: url(../../img/bg-2.jpg)
    background-position: center
    background-size: cover
    position: relative
    .discuss_block
        position: absolute
        right: 400px
        margin-top: 200px
        background: #FFF
        width: 600px
        height: 700px
        h2
            font-family: 'Ubuntu'
            font-style: normal
            font-weight: 700
            font-size: 28px
            line-height: 150%
            align-items: center
            text-align: center
            margin-top: 50px
        .name_2
            width: 90%
            height: 80px
            margin: 0 auto
            margin-top: 30px
            p
                @include question()
                padding-bottom: 10px
            input
                width: 500px
                background: #F4F5F7
                height: 40px
                border-radius: 4px
                border: 2px solid #D7DADD
        .phone_2
            width: 90%
            height: 80px
            margin: 0 auto
            margin-top: 30px
            p
                @include question()
                padding-bottom: 10px
            input
                width: 500px
                background: #F4F5F7
                height: 40px
                border-radius: 4px
                border: 2px solid #D7DADD
        .email_2
            width: 90%
            height: 80px
            margin: 0 auto
            margin-top: 30px
            p
                @include question()
                padding-bottom: 10px
            input
                width: 500px
                background: #F4F5F7
                height: 40px
                border-radius: 4px
                border: 2px solid #D7DADD
        .message_2
            width: 90%
            height: 80px
            margin: 0 auto
            margin-top: 30px
            p
                @include question()
                padding-bottom: 10px
            input
                width: 500px
                background: #F4F5F7
                height: 40px
                border-radius: 4px
                border: 2px solid #D7DADD
        .request
            width: 200px
            height: 50px
            margin: 0 auto
            background: #FF5A30
            border-radius: 4px
            margin-top: 50px
            button
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 14px
                line-height: 44px
                display: flex
                margin: 0 auto
                align-items: center
                text-align: center
                letter-spacing: 0.5px
                text-transform: uppercase
                color: #FFFFFF
footer
    background: #1E212C
    width: 100%
    height: 100%
    margin: 0 auto
    .footer_content
        width: 70%
        margin: 0 auto
        height: 100%
        padding-top: 80px
        .footer_top
            display: flex
            justify-content: space-between
            width: 100%
            .left_top
                width: 50%
                .logo
                    display: flex
                    justify-content: space-between
                    width: 350px
                .footer_discription
                    margin-top: 30px
                    width: 550px
                    p
                        @include question()
                        color: #ffff

            .right_top
                width: 50%
                h2
                    @include services()
                    font-size: 24px
                    color: #ffff
                    text-align: left
                form
                    margin-top: 20px
                    input:nth-child(1)
                        background: rgba(255, 255, 255, 0.12)
                        border: 1px solid rgba(255, 255, 255, 0.2)
                        border-radius: 4px
                        height: 44px
                        width: 300px
                    input:nth-child(2)
                        width: 131px
                        height: 44px
                        background: #FF5A30
                        border-radius: 0px 4px 4px 0px
                p
                    @include question()
                    font-size: 12px
                    color: #ffff
                    opacity: 0.6
                    margin-top: 15px
        .footer_middle
            display: flex
            justify-content: space-between
            height: 160px
            width: 70%
            margin-top: 80px
            .office
                display: flex
                flex-direction: column
                justify-content: space-between
                height: 100px
                h2
                    @include nav()
                    line-height: 150%
                    color: #fff
                p
                    @include values()
                    text-align: left
                    color: #fff
                    margin-top: 20px
                    span
                        opacity: 0.3

            .we
                display: flex
                flex-direction: column
                justify-content: space-between
                h2
                    @include nav()
                    line-height: 150%
                    color: #fff
                    text-align: left
                a
                    @include values()
                    color: #ffff
                    text-align: left
            .our
                display: flex
                flex-direction: column
                justify-content: space-between
                h2
                    @include nav()
                    line-height: 150%
                    color: #fff
                    text-align: left
                a
                    @include values()
                    color: #ffff
                    text-align: left
        .footer_bottom
            display: flex
            justify-content: space-between
            margin-top: 60px
            width: 83%
            align-items: center
            .heart
                p
                    @include question()
                    font-size: 12px
                    color: #fff
            .go_to_top
                display: flex
                justify-content: space-between
                width: 120px
                p
                    @include question()
                    color: #fff
                    align-items: end
                a
                    width: 40px
                    height: 40px
                    align-items: center
                    text-align: center
                    background-color: #FF5A30
                    border-radius: 4px
                    img
                        padding-top: 14px
